html {
    box-sizing: border-box; 
    /* font-size: 62.5%; */
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    margin: 0;
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
  }
  
  
  .flags-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flag{
    display: inline-block;
    width: 150px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #fff;
  }
  
  .armenia{
    background-image: linear-gradient(red 33%, blue 33% 66%, yellow 66% 100%);
  }
  
  .belgium{
    background-image: linear-gradient(to right, black 33%, yellow 33% 66%, red 66% 100%);
  }
  
  .botswana{
    background-image: linear-gradient( 
      skyblue 35%, 
      white 35% 40%,
      black 40% 60%,
      white 60% 65%,
      skyblue 65% 100%);
  }
  
  .benim{
    background-image: linear-gradient( 90deg, green 40%, transparent 40% 100%),
    linear-gradient(180deg, yellow 50%,  red 50%);
  }
  
  .congo{
    background-image: linear-gradient(135deg, green 40%, yellow 40% 60%, red 60% 100%);
  }
  
  .seychelles{
    background-image: 
    linear-gradient(127deg, blue 30%, transparent 30% 100%),
    linear-gradient(140deg, yellow 30% 45%, transparent 45%),
    linear-gradient(159deg, red 45% 65%, transparent 65%),
    linear-gradient(167deg, white 65% 80%, transparent 80%),
    linear-gradient(177deg, green 80% 100%, transparent);
  }
  
  
  
  
  